<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>
<% readify.forEach((blog) => { %>

    <div class="">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 m-[1vmax]">
            <div class="relative h-56 mx-4 mt-2 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
                <img class="rounded-t-lg" src="/images/<%= blog.image %>" alt="Image" 
                class="h-full w-full object-cover"/>
            </div>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"><%= blog.title %></h5>
                </a>
                <p class="mb-3 text-2xl font-normal text-gray-700 dark:text-gray-400"><%= blog.blog %></p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= blog.description %></p>
            </div>
            <div class="mt-8 flex flex-row gap-4 px-4">
                <a href="/delete/<%= blog._id %>"
                    class="bg-green-400 hover:shadow hover:bg-danger transition duration-150 px-4 py-2 rounded text-sm text-white mx-1 my-2">
                    Delete
                </a>
                <a href="/update/<%= blog._id %>"
                    class="bg-green-400 hover:shadow hover:bg-danger transition duration-150 px-4 py-2 rounded text-sm text-white mx-1 my-2">
                    Update
                </a>
            </div>
        </div>
    </div>
<% }) %>



<%- include("./partials/footer.ejs") %>